.App {
  text-align: center;
}

.App-logo{
  animation: App-logo-spin infinite 20s ease-in-out;
  height: 5vmin;
  pointer-events: none;
}


.card-body{
  background:lightgray;
  border:0.5rem
}


button {
background: rgb(114, 101, 196);
border: 1px solid lightslategray;
border-radius: 5px;
color:darkmagenta;
display: inline-block;
font-size: 0.8em;
font-weight: bold;
margin: 10px;
padding: 0.5em 1.5em;
position: relative;
text-transform: uppercase;

}


button:hover {
color: #2ecc71;
}

.card-img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 200px;
}

.card-desc{
  text-align: left;
}
img:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p{
color:blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
