.nav-item{
    margin:20px;
    color: dodgerblue;
}

nav{
    background-color: darkgray;
}



.logo{
    color:darkmagenta;
    font-size:32px;
    font-weight: 900;
}    

i{
    font-size:28px;
}


