h2{
    text-align: left;
}

.resultContainer{
    border: 1rem;
    background-color:lightgoldenrodyellow;
    padding:10px;
}

.card-body{
    background:lightgray;
    border:0.5rem
}


button {
  background: rgb(114, 101, 196);
  border: 1px solid lightslategray;
  border-radius: 5px;
  color:darkmagenta;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  margin: 10px;
  padding: 0.5em 1.5em;
  position: relative;
  text-transform: uppercase;

}


button:hover {
  color: #2ecc71;
}
